run = "python3 manage.py runserver 0.0.0.0:8000"
entrypoint = "manage.py"

[env]
PYTHON_VERSION = "3.10"
PATH = "/home/runner/${REPL_SLUG}/venv/bin"

[nix]
channel = "stable-22_11"

[webview]
port = 8000

[packager]
language = "python3"
ignoredPackages = ["unit_tests"]

[packager.features]
enabledForHosting = true
packageSearch = true
guessImports = true

[[ports]]
localPort = 8000
externalPort = 80 